.container {
    width: 1200px;
    min-height: 80vh;
    color: #32A89C;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #4a4a4a;
}

.container h2 {
    font-size: 30px;
}

.linguagens {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 1200px;
}

.control-img{
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #4a4a4a;
    height: 170px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.control-img img {
    width: 150px;
    margin-bottom: 20px;
}

