#projetos h2 {
    display: flex;
    justify-content: center;
}

.project {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.project-grid {
    display: flex;
    height: 300px;
    max-width: 100%;
    border-bottom: 1px solid #4a4a4a;
    margin: 10px;
    text-align: center;
    align-items: center;
}

.project-grid p {
    margin-left: 20px;
    margin-right: 20px;
}

.project-grid img {
    height: 300px;
    padding-bottom: 10px;
}

@media (max-width: 1024px) {
    #projetos {
        max-width: 100%;
    }

    .project {
        max-width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
    }

    .project-grid {
        margin-right: 30px;
    }
}

@media (max-width: 425px) {
    #projetos {
        max-width: 100%;
    }

    .project {
        display: flex;
        min-height: 80vh;
    }

    .project-grid {
        display: flex;
        flex-direction: column;
        height: 500px;
    }
}

