nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 60px;
    margin: auto;
    padding: auto;
    border-bottom: 1px solid #4a4a4a;
}

nav ul {
    display: flex;
}

nav ul li a {
    color: #32a89c;
    font-size: 30px;
    margin-left: 20px;
}